In [1]:
import pandas as pd
import numpy as np
import string

In [2]:
df = pd.read_excel('Prilozhenie.xlsx', 'DIM_IDV_LBY_AR')
df

   DIM_EFF_DT           DIM_END_DT  LBY_AR_ID  CST_ID  PD_ID   PRC
0  2018-01-01  2018-01-31 00:00:00          1       1      1  11.0
1  2018-02-01  2018-02-28 00:00:00          1       1      1  10.0
2  2018-03-01  2999-12-31 00:00:00          1       1      1   9.0
3  2018-01-01  2018-01-31 00:00:00          2       1      1   8.0
4  2018-02-01  2018-02-28 00:00:00          2       1      1   7.0
5  2018-03-01  2999-12-31 00:00:00          2       1      1   6.0
6  2018-01-01  2018-01-31 00:00:00          3       2      2   3.0
7  2018-02-01  2018-02-28 00:00:00          3       2      2   3.0
8  2018-03-01  2999-12-31 00:00:00          3       2      2   3.0
9  2018-01-01  2018-01-31 00:00:00          4       2      2   3.5
10 2018-02-01  2018-02-28 00:00:00          4       2      2   3.5
11 2018-03-01  2999-12-31 00:00:00          4       2      2   3.5
12 2018-01-01  2018-01-31 00:00:00          5       2      3  10.0
13 2018-02-01  2018-02-28 00:00:00          5       2      3  10.0
14 2018-03-01  2999-12-31 00:00:00          5       2      3  10.0

In [5]:
str1 = "INSERT DIM_IDV_LBY_AR(DIM_EFF_DT, DIM_END_DT, LBY_AR_ID, CST_ID, PD_ID, PRC)\nVALUES\n"
with open('fill_table_DIM_IDV_LBY_AR.sql', 'a', encoding="utf-8") as filehandle:
        filehandle.write('%s\n' % str1)
for i in range (15):
    str1 = "('"+ str(df.iloc[i].DIM_EFF_DT) + "', '"  + str(df.iloc[i].DIM_END_DT) + "', "  + str(df.iloc[i].LBY_AR_ID) + ", " + str(df.iloc[i].CST_ID) + ", " + str(df.iloc[i].PD_ID) + ", " + np.format_float_positional(df.iloc[i].PRC) + ")"
    if i==14:
        str1 = str1 + ";"
    else:
        str1 = str1 + ","
    with open('fill_table_DIM_IDV_LBY_AR.sql', 'a', encoding="utf-8") as filehandle:
        filehandle.write('%s\n' % str1)