In [1]:
import pandas as pd
import numpy as np
import string

In [2]:
df = pd.read_excel('Prilozhenie.xlsx', 'DIM_ORG')
df

     ORG_ID DIM_EFF_DT           DIM_END_DT  OKVED_ID  BSN_SEG_ID
0    112535 1900-01-01  2016-12-29 00:00:00     12672       25388
1    112535 2016-12-30  2017-03-09 00:00:00     12672       25388
2    112535 2017-03-10  2017-05-01 00:00:00     12672       25388
3    112535 2017-05-02  2017-05-21 00:00:00     12672       25388
4    112535 2017-05-22  2017-06-30 00:00:00     12672       25388
5    112535 2017-07-01  2017-08-29 00:00:00     12672       25388
6    112535 2017-08-30  2017-11-05 00:00:00     12672       25388
7    112535 2017-11-06  2017-11-16 00:00:00     12672       25451
8    112535 2017-11-17  2018-04-25 00:00:00     12672       25422
9    112535 2018-04-26  2018-05-16 00:00:00     12672       25422
10   112535 2018-05-17  2018-07-10 00:00:00     12672       25422
11   112535 2018-07-11  2018-08-12 00:00:00        -1       25422
12   112535 2018-08-13  2018-08-20 00:00:00        -1       25422
13   112535 2018-08-21  2999-12-31 00:00:00        -1       25422
14  1414570 1900-01-01  2015-08-27 00:00:00     16650       23776
15  1414570 2015-08-28  2015-11-26 00:00:00     16650       23776
16  1414570 2015-11-27  2016-11-22 00:00:00     16650       23776
17  1414570 2016-11-23  2016-11-30 00:00:00     16650       23776
18  1414570 2016-12-01  2016-12-29 00:00:00     16650       23776
19  1414570 2016-12-30  2017-01-10 00:00:00     16650       23776
20  1414570 2017-01-11  2017-01-24 00:00:00     16650       23776
21  1414570 2017-01-25  2017-04-25 00:00:00     16650       23776
22  1414570 2017-04-26  2017-05-30 00:00:00     16650       23776
23  1414570 2017-05-31  2017-08-16 00:00:00     16650       23776
24  1414570 2017-08-17  2017-08-20 00:00:00     16650       23776
25  1414570 2017-08-21  2017-11-24 00:00:00     16650       23776
26  1414570 2017-11-25  2018-04-01 00:00:00     16650       23776
27  1414570 2018-04-02  2018-04-03 00:00:00     16650       23776
28  1414570 2018-04-04  2018-04-23 00:00:00        -1       23776
29  1414570 2018-04-24  2018-04-25 00:00:00        -1       23776
30  1414570 2018-04-26  2018-05-31 00:00:00        -1       23776
31  1414570 2018-06-01  2018-08-16 00:00:00        -1       23776
32  1414570 2018-08-17  2999-12-31 00:00:00        -1       23776
33  3508016 1900-01-01  2016-12-29 00:00:00     15084       25422
34  3508016 2016-12-30  2017-03-31 00:00:00     15084       25422
35  3508016 2017-04-01  2017-06-30 00:00:00     15084       25422
36  3508016 2017-07-01  2017-07-13 00:00:00     15084       25422
37  3508016 2017-07-14  2017-08-13 00:00:00     15084       25422
38  3508016 2017-08-14  2017-08-18 00:00:00     15084       25422
39  3508016 2017-08-19  2017-08-23 00:00:00     15084       25422
40  3508016 2017-08-24  2017-10-29 00:00:00     15084       25422
41  3508016 2017-10-30  2017-11-14 00:00:00     15084       25422
42  3508016 2017-11-15  2017-11-20 00:00:00     15084       25422
43  3508016 2017-11-21  2018-01-15 00:00:00     15084       25422
44  3508016 2018-01-16  2018-02-01 00:00:00     15084       25422
45  3508016 2018-02-02  2018-04-11 00:00:00     15084       25422
46  3508016 2018-04-12  2018-04-27 00:00:00     15084       23776
47  3508016 2018-04-28  2018-05-31 00:00:00     15084       23776
48  3508016 2018-06-01  2018-08-20 00:00:00     15084       23776
49  3508016 2018-08-21  2018-09-10 00:00:00     15084       23776
50  3508016 2018-09-11  2999-12-31 00:00:00     15084       23776

In [3]:
str1 = "INSERT DIM_ORG(ORG_ID, DIM_EFF_DT, DIM_END_DT, OKVED_ID, BSN_SEG_ID)\nVALUES\n"
with open('fill_table_DIM_ORG.sql', 'a', encoding="utf-8") as filehandle:
        filehandle.write('%s\n' % str1)
for i in range (51):
    str1 = "("+ str(df.iloc[i].ORG_ID) + ", '" + str(df.iloc[i].DIM_EFF_DT) + "', '"  + str(df.iloc[i].DIM_END_DT) + "', " + str(df.iloc[i].OKVED_ID) + ", " + str(df.iloc[i].BSN_SEG_ID) + ")"
    if i==50:
        str1 = str1 + ";"
    else:
        str1 = str1 + ","
    with open('fill_table_DIM_ORG.sql', 'a', encoding="utf-8") as filehandle:
        filehandle.write('%s\n' % str1)